<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col" ><%= @pet.name %></th>
         <td><%= condition.recorded_at %>
      </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">元気</th>
        <td><%= condition.vitality %>
    </tr>   
    <tr>
      <th scope="row">食欲</th>
      <td><%= condition.appetite %>   
    </tr>                        
    <tr>
      <th scope="row">排便</th>
      <td><%= condition.defecation %>
    </tr>
    <tr>
      <th scope="row">排尿</th>
      <td><%= condition.urination %>
    </tr>
    <tr>
      <th scope="row">嘔吐</th>
      <td><%= condition.vomit %>
     
    </tr>
    <tr>
      <th scope="row">投薬</th>
      <td><%= condition.medicine %>
    </tr>
    <tr>
      <th scope="row">体重</th>
      <td><%= condition.weight %>
    </tr>
    <tr>
      <th scope="row">コメント</th>
      <td><%= condition.comment %>
    </tr>
    <tr>
      <th scope="row">スタッフ</th>
      <td><%= condition.staff %>
    </tr> 
  </tbody>
</table>
 <%= link_to "削除", condition_path(id: condition.id),{ method: :delete, class: 'btn btn-outline-secondary'} %>
 <%= link_to "編集", edit_condition_path(id: condition.id), class: 'btn btn-outline-secondary' %>