<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col" ><%= @pet.name %></th>
      <th scope="col" >朝</th>
    </tr>
  </thead>
     
    <%= form_for @pet, url: pet_conditions_path, local: true do |f| %>
    
    <%= f.text_field :name %>
      <%= f.fields_for :condition do |condition| %>
    <tbody>
    <div class="form-group">
      <%= f.label :日付, class: 'control-label' %>
      <%= f.date_select :created_at,use_month_numbers: true, end_year: (Time.now.year + 0) %>
    </div>
    <tr>
      <th scope="row">時間</th>
      <td><%= condition.radio_button :recorded_status, "朝" %>朝<%= condition.radio_button :recorded_status, "昼" %>昼<%= condition.radio_button :recorded_status, "夜" %>夜</td>
    </tr>
    <tr>
      <th scope="row">元気</th>
        <td><%= condition.radio_button :vitality, "あり" %>あり<%= condition.radio_button :vitality, "なし" %>なし
    </tr>
    <tr>
      <th scope="row">排便</th>
      <td><%= condition.radio_button :defecation, "あり" %>あり<%= condition.radio_button :defecation, "なし" %>なし<%= condition.radio_button :defecation, "下痢" %>下痢</td>
    </tr>
    <tr>
      <th scope="row">食欲</th>
      <td><%= condition.radio_button :appetite, "完食" %>完食 <%= condition.radio_button :appetite, "残した" %>残した<%= condition.radio_button :appetite, "食べない" %>食べない</td>
    </tr>
    <tr>
      <th scope="row">排尿</th>
      <td><%= condition.radio_button :urination, "あり" %>あり<%= condition.radio_button :urination, "なし" %>なし
    </tr>
    <tr>
      <th scope="row">嘔吐</th>
      <td><%= condition.radio_button :vomit, "あり" %>あり<%= condition.radio_button :vomit, "なし" %>なし
    </tr>
    <tr>
      <th scope="row">投薬</th>
      <td><%= condition.radio_button :medicine, "済み" %>済み<%= condition.radio_button :medicine, "なし" %>なし
    </tr>
 </tbody>
 </table>
<% end %>
  <%= f.submit "登録" , class: "btn btn-danger btn-user btn-block outline"%>
 
<% end %>
 
