<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-wp-preserve="%3Cscript%20src%3D'fullcalendar%2Fcore%2Flocales%2Fja.js'%3E%3C%2Fscript%3E" data-mce-resize="false" data-mce-placeholder="1" class="mce-object" width="20" height="20" alt="&lt;script&gt;" title="&lt;script&gt;" />
<div id="calendar">

</div>


<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col" ><%= @pet.name %></th>
      <th scope="col" >朝</th>
      <th scope="col">昼</th>
      <th scope="col">夜</th>
    </tr>
  </thead>
  <%= form_for(@condition, url: pet_conditions_path ) do |f| %>

  <tbody>
      <div class="form-group">
      <%= f.label :日付, class: 'control-label' %>
      <%= f.date_select :created_at,use_month_numbers: true, end_year: (Time.now.year + 0) %>

    </div>
    <tr>
      <th scope="row">元気</th>
      <td>○</td>
      <td>○</td>
      <td>○</td>
    </tr>
    <tr>
      <th scope="row">食欲</th>
      <td>○</td>
      <td>×</td>
      <td>○</td>
    </tr>
    <tr>
      <th scope="row">排便</th>
      <td>○</td>
      <td>×</td>
      <td>○</td>
    </tr>
    <tr>
      <th scope="row">排尿</th>
      <td>○</td>
      <td>○</td>
      <td>○</td>
    </tr>
    <tr>
      <th scope="row">嘔吐</th>
     <td>○</td>
      <td>×</td>
      <td>○</td>
    </tr>
    <tr>
      <th scope="row">投薬</th>
      <td>○</td>
      <td>なし</td>
      <td>なし</td>
    </tr>
  </tbody>
</table>
<%= f.submit "登録" , class: "btn btn-danger btn-user btn-block outline"%>
<% end %>
