<div class="form-group row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <%= f.label :firstname, '姓'%>
    <%= f.text_field :firstname, class: "form-control form-control-user", 
    id: "exampleInputFirstname"%>
  </div>
  <div class="col-sm-6">
    <%= f.label :lastname, '名'%>
    <%= f.text_field :lastname, class: "form-control form-control-user", 
    id: "exampleInputLastname" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :address, '住所'%>
  <%= f.text_field :address, class: "form-control form-control-user", 
  id: "exampleInputAddress", placeholder: "例:東京都〇〇区○-○-○" %>
</div>
<div class="form-group">
  <%= f.label :tel, '電話番号'%>
  <%= f.telephone_field:tel, class: "form-control form-control-user", 
  id: "exampleInputAddress", placeholder: "ハイフンなし" %> 
</div>
<div class="form-group">
  <%= f.label :email, 'メールアドレス'%>
  <%= f.email_field :email,  class: "form-control form-control-user", 
  id: "exampleInputEmail" %>
</div>