<% provide(:title, '顧客編集') %>
<%= link_to "戻る", :back, class: 'btn btn-outline-secondary return-btn' %>
<%= form_for(@user, url: users_registration_path(@user), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <div class="row">
        <div class="col-lg-2"></div> 
          <div class="col-lg-8">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">ユーザー編集</h1>
              </div>
              <%= render "form_without_password", f: f %>             
                <%= f.submit "登録", class: "actions btn btn-danger btn-user btn-block outline"%>        
              <div class="text-center">
              <% if current_user.admin? %>
                <%= link_to "ユーザー削除",  users_registration_path(id: @user.id), class: 'btn btn-warning',
                 method: :delete,class: 'btn btn-danger',data: { confirm: "#{@user.firstname}#{@user.lastname}さまを消してもよろしいですか?" } %>
              <% end %>
                <hr>  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
