<div class="container">
  <h2 class="my-4"><%= @user.firstname %>さま</h2>
  <div class="row">
    <div class="col-md-7">
    <h4><%= link_to "ペット追加登録", new_user_pet_path %></h4>
      <h3>NAME:<%= @user.firstname %><%= @user.lastname %></h3>
      <h3>TEL:<%= @user.tel %></h3>
      <h3><%= @user.address %></h3>
      <h3>EMAIL:<%= @user.email %></h3>
    </div>
    <div class="col-md-5">
    <% @user_pet.each do |pet| %>
      <h3><%= link_to pet.name,user_pet_path(id: pet.id) %></h3>
      <h4><%= pet.breed %></h4>
      <h4><%= pet.sex %></h4>
      <h4><%= pet.birthday %></h4>
      <hr > 
    <% end %>
    </div>
  </div>
</div>