<div class="container">
<%= link_to "ペット追加登録", new_user_pet_path, class: 'btn btn-secondary' %>
  <h2 class="my-4"><%= @user.firstname %>さま</h2>
  <div class="row">
    <div class="col-md-7">
      <h3>名前:</h3><h4><%= @user.firstname %> <%= @user.lastname %></h4>
       <hr> 
      <h3>電話番号:</h3><h4><%= @user.tel %></h4>
       <hr> 
      <h3>住所:</h3><h4><%= @user.address %></h4>
       <hr> 
      <h3>アドレス:</h3><h4><%= @user.email %></h4>
    </div>
    <div class="col-md-5">
    <hr> 
    <% @pets.each do |pet| %>前:<%= link_to pet.name, new_pet_condition_path(pet_id: pet.id) %></h3>
      <h4>種類:<%= pet.breed %></h4>
      <h4>性別:<%= pet.sex %></h4>
      <h4>生年月日:<%= pet.birthday %></h4>
      <%= link_to "ペット編集", edit_pet_path(id: pet.id), class: 'btn btn-outline-secondary' %>
      <%= link_to "ペット削除", pet_path(id: pet.id), method: :delete,
      class: 'btn btn-outline-secondary',data: { confirm: "#{pet.name}ちゃんを消してもよろしいですか?" } %>
      <hr> 
    <% end %>
    </div>
  </div>
</div>