<%= form_for(@pet, url: user_pets_path) do |f| %>
  <div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <div class="row">
          <div class="col-lg-2 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-8">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">ペット登録</h1>
                <hr>
              </div>
                <div class="form-group">
                  <%= f.label :birthday,'生年月日' %>
                  <%= f.date_select :birthday, use_month_numbers: true,
                  start_year: 2000, end_year: (Time.now.year + 0),
                  id: "exampleInputBirhtday" %>
                </div>
              <div class="form-group">
                <%= f.label :breed, '名前(必須)' %>
                <%= f.text_field :name, class: "form-control form-control-user", 
                id: "exampleInputName" %>
              </div>
             <div class="form-group">
             <%= f.label :breed, '種類' %>
              <%= f.select :breed, {'その他': 'MIX','アメリカン・コッカー・スパニエル': 'アメリカン・コッカー・スパニエル', 'イタリアン・グレーハウンド': 'イタリアン・グレーハウンド', 'ウエスト・ハイランド・ホワイト・テリア': 'ウエスト・ハイランド・ホワイト・テリア' ,'ウェルシュ・コーギー・ペンブローク': 'ウェルシュ・コーギー・ペンブローク','オーストラリアン・シェパード': 'オーストラリアン・シェパード', 'キャバリア・キング・チャールズ・スパニエル': 'キャバリア・キング・チャールズ・スパニエル','グレート・ピレニーズ': 'グレート・ピレニーズ', 'ゴールデン・レトリーバー': 'ゴールデン・レトリーバー', 'シェットランド・シープドッグ': 'シェットランド・シープドッグ','シー・ズー': 'シー・ズー','柴犬': '柴犬','ジャック・ラッセル・テリア': 'ジャック・ラッセル・テリア','ダックスフンド': 'ダックスフンド','チワワ': 'チワワ', '狆': '狆','ドーベルマン': 'ドーベルマン','パグ': 'パグ', 'パピヨン': 'パピヨン','ビーグル': 'ビーグル','ビション・フリーゼ': 'ビション・フリーゼ', 'プードル': 'プードル','ブルドッグ': 'ブルドッグ','フレンチ・ブルドッグ': 'フレンチ・ブルドッグ','ペキニーズ': 'ペキニーズ','ボーダー・コリー': 'ボーダー・コリー', 'ポメラニアン': 'ポメラニアン', 'マルチーズ': 'マルチーズ', 'ミニチュア・シュナウザー': 'ミニチュア・シュナウザー', 'ミニチュア・ピンシャー': 'ミニチュア・ピンシャー','ラブラドール・レトリーバー': 'ラブラドール・レトリーバー', 'ワイアー・フォックス・テリア': 'ワイアー・フォックス・テリア', 'ヨークシャー・テリア': 'ヨークシャー・テリア'}, { include_blank: '選択してください'}, { class: 'form-control form-control-user' , id: "exampleInputBreed" } %>
              </div>
              <div class="form-group">
                <%= f.label :sex, '性別' %>
                <%= f.select :sex, {'オス': 'オス', 'メス': 'メス'}, { include_blank: '選択してください'}, { class: 'form-control form-control-user' , id: "exampleInputSex" } %>
              </div>
              <div class="form-group row">
              </div>               
                <%= f.submit "登録", class: "actions btn btn-danger btn-user btn-block"%>        
                <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
