<section class="bs-docs-section">
<%= search_form_for @search do |f| %>
  <%= f.label :firstname, "名前",placeholder: '名前を検索する' %>
  <%= f.search_field :firstname_eq %>
  <%= f.submit '検索',class: 'btn btn-secondary' %>
<% end %>
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h2 id="tables">顧客一覧<span><i class="fas fa-search"></i></span></h2>
        <%= link_to "顧客登録", signup_path, class: 'btn btn-secondary float-right .pr-1' %>
      </div>
      <div class="bs-component">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">名前</th>
              <th scope="col">住所</th>
              <th scope="col">電話番号</th>
              <th scope="col">アドレス</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
              <th scope="row"><%= link_to "#{user.firstname}"+" "+ "#{user.lastname}", user_pets_path(user_id: user.pets.first.user_id) %></th>
                <th><%= user.address %></th>
                <th><%= user.tel %></th>
                <th><%= user.email %></th>
              </tr>  
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>