<div class="container">
  <div class="text-center">
    <h3>今日のお世話リスト(<%= Date.current %>)</h3>
    <% @date.each do |reservation| %>
      <ul class="pets">
        <li>
          <div class="col">
            <h4><%= link_to reservation.name, pet_path(id: reservation.pet_id) %></h4>
            <p><%= reservation.title %>
            IN<%= reservation.start %> 〜OUT<%= reservation.end %></p>
          </div>
          <div class="col">
            <%= link_to '体重記入',new_pet_body_path(pet_id: reservation.pet_id), class: 'btn btn-info' %>
            <%= link_to "管理表", new_pet_condition_path(pet_id: reservation.pet_id),  class: 'btn btn-primary' %>
            <%= link_to "予約削除", reservation_path(id: reservation.id), method: :delete,
            class: 'btn btn-danger',data: { confirm: "#{reservation.name}ちゃんの予約を消してもよろしいですか?" } %>
          </div>
        </li>
      </ul>
    <% end %>
  </div>
</div>
<div id="calendar" class="reservavtions-list"></div>