<div class="container">
<h3 class="text-center">お世話リスト<%= Date.current %></h3>
<div class="row">
  <div class="line-it-button" data-lang="ja" data-type="share-a" data-ver="3" data-url="http://localhost:3000/reservations" data-color="default" data-size="large" data-count="false" style="display: none;"></div>
  <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
  <ul class="pets">
    <% @date.each do |reservation| %>
      <li>
        <div class="col">
          <%= link_to reservation.name, pet_path(id: reservation.pet_id) %>
          <%= reservation.title %>
          IN<%= reservation.start %> 〜OUT<%= reservation.end %>
        </div>
        <div class="col">
          <%= link_to '体重記入',new_pet_body_path(pet_id: reservation.pet_id), class: 'btn btn-info' %>
          <%= link_to "管理表", new_pet_condition_path(pet_id: reservation.pet_id),  class: 'btn btn-primary' %>
        </div>
        <div class="col">
          <%= link_to "予約削除", reservation_path(id: reservation.id), method: :delete,
          class: 'btn btn-danger',data: { confirm: "#{reservation.name}ちゃんの予約を消してもよろしいですか?" } %>
        </div>
      </li>
    <% end %>
  </ul>
  </div>
</div>
<div id="calendar"></div>