<%= form_for @reservation, url:  pet_reservations_path(pet_id: @pet.id)  do |f| %>
  <div  class="col">
    <span>予約名</span>
    <span><%= f.select :title, {'ホテル':'ホテル' , '入院': '入院', 'しつけ': 'しつけ'} , { include_blank: '選択してください'}, { class: 'form-control form-control-user' , id: "exampleInputBreed" } %></span>
    <span>I N</span>
    <span><%= f.date_field  :start, placeholder: "XXXX-XX-XX", class:"field" %> ~ </span><br>
    <span>OUT</span>
    <span><%= f.date_field :end, placeholder: "XXXX-XX-XX", class:"field" %></span><br>
  </div>
  <div class="modal-footer">
    <%= f.submit "登録する", class: "btn btn-primary js-form" %>
    <%= f.hidden_field :pet_id, :value => @pet.id %>
  </div>
<% end %>