<p><%= @user.firstname %>様、お世話になっております。</p>
<p><%= @pet.name %>ちゃんのご様子をお送り致します。</p>
<h5>食欲：<%= @condition.appetite %></h5>
<h5>排便：<%= @condition.defecation %></h5>
<h5>排尿：<%= @condition.urination %></h5>
<h5>嘔吐：<%= @condition.vomit %></h5>
<h5>元気：<%= @condition.vitality %></h5>
<p><%= @message %></p>
<p>引き続きお預かりいたしますので、何かありましたら店舗の方にお電話でご連絡ください。</p>
<p>TEL:03-OOOO-XXXX</p>