<footer>
<ul>
<li><%= link_to "ホーム", "#" %></li>
<li><%= link_to "顧客一覧", "#" %></li>
<li><%= link_to "予約表", "#" %></li>
<li><%= link_to "今日のお泊まり", "#" %> </li>
<li> <%= link_to "データ", "#" %></li>
</ul>
</footer>