<footer>
  <nav class="navbar navbar-light" style="background-color: #F5ABEC; color: white;">
    <%= link_to "ホーム", "#" %>
    <%= link_to "顧客一覧", "#" %>
    <%= link_to "予約表", "#" %>
    <%= link_to "今日のお泊まり", "#" %>
    <%= link_to "データ", "#" %>
  </nav>
</footer>