<header>
  <div class="row">
    <div class="col-lg-6">
      <div class="bs-component">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <%= link_to "ホーム", root_path, method: :get, class: "nav-link",:data => {:toggle=>"tab"} %>
          </li>
          <li class="nav-item">
            <%= link_to "顧客一覧", users_path,method: :get, class: "nav-link",:data => {:toggle=>"tab"} %>
          </li>
          <li class="nav-item">
            <%= link_to "予約表","#" ,method: :get, class: "nav-link",:data => {:toggle=>"tab"} %>
          </li>
          <li class="nav-item">
            <%= link_to "今日のお泊まり","#" ,method: :get, class: "nav-link",:data => {:toggle=>"tab"} %>
          </li>
          <li class="nav-item">
            <%= link_to "データ","#" ,method: :get, class: "nav-link",:data => {:toggle=>"tab"} %>
          </li>
          <%= link_to "ログアウト", destroy_user_session_path,{ method: :delete, class: "links"} %><br />
           <div class="float-right">
            <%= link_to "顧客登録", signup_path, class: 'btn btn-secondary float-right .pr-1' %>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenter">
              <span><i class="fas fa-search float-right .pr-1"></i></span>
            </button>
          </div>
        </ul>
      </div>
    </div>
  </div>
</header>