<header>
  <div class="row">
    <div class="col-lg-12">
      <div class="bs-component">
        <% if user_signed_in? %>
          <ul class="nav nav-tabs justify-content-center">
            <li class="nav-item">
              <%= link_to "管理表", reservations_path, class: 'nav-link',data: {"turbolinks" => false} %>
            </li>
            <li class="nav-item">
              <%= link_to "ユーザ一覧・検索", users_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "顧客新規登録", signup_path, class: 'nav-link' %> 
            </li>
            <li class="nav-item">
              <%= link_to "機能紹介", static_pages_introduce_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", logout_path,{class: "nav-link", method: :delete} %>
            </li>
          </ul>
        <% else %>
          <h1 class="title">Pet Diary</h1>
        <% end %>
      </div>
    </div>
  </div>
</header>
